#APP info
SECRET_KEY=your-secret-key
DEBUG=bool
ALLOWED_HOSTS=host1,host2

#DB credentials
DB_NAME=your-db-name-here
DB_USER=your-user-name-here
DB_PASSWORD=your-pass-here
DB_HOST=127.0.0.1
DB_PORT=5432
