{% load static %}

<header>
    <nav>
        <div class="left">
            <a href="{% url 'index' %}"><img alt="logo" class="logo" src="{%  static 'images/house.png' %}"></a>
            <a href="{% url 'index' %}">My home</a>
        </div>


        <div class="right">
            <a href="{% url 'properties-list' %}">Имоти</a>
            <a href="{% url 'cities-list' %}">Градове</a>
            <a href="{% url 'neighbourhood-list' %}">Квартали</a>
            <a href="{% url 'features-list' %}">Характеристики</a>
            <a href="{% url 'brokers-list' %}">Брокери</a>
        </div>
    </nav>
</header>