{% extends 'base.html' %}

{% block title %}
    Изтрий характеристика | My Home
{% endblock %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/crud.css' %}">
{% endblock %}

{% block content %}
        <main>
            <section class="feature-form"> 
                <div>
                    <h2>
                         Наистина ли искате да изтриете тази характеристика?
                    </h2>
                </div>
                <form method="post" >
                    {{ form }}
                    {% csrf_token %}
                    <button class="delete-button">Да, изтрий</button>
                </form>
                <a href="{%  url 'features-list' %}" class="button" > Не изтривай </a>
            </section>
        </main>
{% endblock %}
