{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ property.get_offer_type_display}}
    {{ property.get_property_type_display}} 
    {{ property.neighborhood.city}} 
    {{ property.neighborhood }}
    {{ property.price }}
{% endblock %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'property/property_details.css' %}">
{% endblock %}


{% block content %}
    <main>
    <section class="section-left">
        <div class="property-image">No Image</div>
        <article class="description">
            {{ property.description }}
        </article>
    </section>
    <section class="section-right">
        <article class="features">
            <h3>{{ property.get_property_type_display}}</h3>
            <p>{{ property.get_offer_type_display}}</p>
            <p>Град: {{ property.neighborhood.city.name }} </p>
            <p>Квартал: {{ property.neighborhood }}</p>
            <p>Площ: {{ property.area | floatformat}} кв.м</p>
            <p>Цена: {{ property.price | floatformat}} €</p>
        
             {% if property.bedrooms %}
                 <p>{{ property.bedrooms }} <i class="fa-solid fa-bed"></i></p>
            {% endif %}
            
            {% if property.bathrooms %}
                 <p>{{ property.bathrooms }} <i class="fa-solid fa-bath"></i></p>
            {% endif %}
        <a class="edit-button" href="{% url 'broker-details' property.broker.id %}">Брокер: {{ property.broker.first_name}} {{ property.broker.last_name }}</a>
        
        </article>
    </section>
    </main>

{% endblock %}