* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F5F7FA;
    color: #333333;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #1E3A5F;
}

nav a {
    margin-left: 20px;
    color: #F5F7FA;
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #cccccc;
    background-color: #1E3A5F;
}

.button {
    margin: 20px;
    font-size: 14px;
    color: #1E3A5F;
    border-radius: 15px;
    background-color: #68e368;
    padding: 10px 15px;
    margin: 20px;
    border: 1px solid #1E3A5F;
}

.btn {
    display: inline-block;
    background-color: #1E3A5F;
    color: #F5F7FA;
    padding: 13px 10px;
    border-radius: 6px;
    text-decoration: none;
}

main {
    margin: auto;
    max-width: 1600px;
    display: flex;
}

.section-left {
    flex: 1;
}

.section-right {
    flex: 2;
}

.image {
    width: 200px;
    height: 200px;
    background-color: #e9ecef;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6c757d;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
}

.edit-button {
    margin: 20px;
    font-size: 14px;
    color: #1E3A5F;
    border-radius: 15px;
    background-color: #68e368;
    padding: 10px 15px;
    margin: 20px;
    border: 1px solid #1E3A5F;
}

.delete-button  {
    background-color: #d22323;
    color: #1E3A5F;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 0;
    border: 1px solid #1E3A5F;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;

}

.form-field {
    display: flex;
    margin-bottom: 15px;
}

.form-field label {
    width: 150px;
}

.form-field input {
    display: flex;
    flex: 1;
}
.logo {
    width: 100px;
    height: auto;
    object-fit: cover;
    display: block;
}

.left {
    display: flex;
    align-items: center;
}