main {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 20px;
    text-align: center;
}

.list-item {
    background-color: #1E3A5F;
    color: white;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    text-align: center;
}

.list-container {
    display: flex;
    flex-direction: column;
}

