{% extends 'base.html' %}
{% load phone_format %}

{% block title %}
    Брокери | My Home
{% endblock %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'broker/brokers_list.css' %}">
{% endblock %}

{% block content %}
    <main>
    <div class="page-header">
        <h2>На тази страница ще намерите информация за всички брокери в агенцията</h2>
        <a class="edit-button" href="{% url 'create-broker' %}">Добави брокер</a>
    </div>

    {% if brokers %}
        <div class="brokers-container">
            {% for broker in brokers %}
                <article class="broker-card">
                {% if broker.picture %}
                    <img src="{{ broker.picture.url }}" >
                {% else %}
                    <div class="broker-image">
                    No Image
                    </div >
                {% endif %}

                <h2>{{ broker.first_name }} {{ broker.last_name }}</h2>
                <p><i class="fa-solid fa-phone-volume"></i> {{ broker.phone_number|phone_format }}</p>
                <p><i class="fa-solid fa-envelope"></i> {{ broker.email}}</p>
                <p>{{ broker.description | truncatewords:5 }}</p>
                <a class="btn" href="{% url 'broker-details' broker.id %}">Повече информация</a>
                </article>

            {% endfor %}
        </div>
    {% else %}
        <h2>Няма брокери</h2>
    {% endif %}

    </main>

{% endblock %}