main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    text-align: center;
}

form {
    padding: 20px;
}

.form-field {
    display: flex;
    margin-bottom: 15px;
}

.form-field label {
    width: 150px;
}

.form-field input {
    display: flex;
    flex: 1;
}

p {
    font-weight: bold;
}

input[type='file']{
    padding: 0;
    border-radius: 0;
}

.form-field.features select {
    height: 200px;
}

select {
    width: 350px;
    height: 30px;
    border-radius: 5px;
}

label{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#id_features {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

