main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    text-align: center;
}

form {
    padding: 20px;
}

p {
    font-weight: bold;
}

.picture img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin-bottom: 10px;
    margin-right: 20px;

}

.picture {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin-bottom: 10px;
    margin-right: 20px;
}

input[type='file']{
    margin-bottom: 0;
    padding: 0;
    border-radius: 0;
}

select {
    width: 350px;
    height: 30px;
    border-radius: 5px;
}

.features select {
    height: 200px;
}