main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    text-align: center;
}

.form-field label {
    width: 150px;
}

.form-field input {
    display: flex;
    flex: 1;
}

p {
    font-weight: bold;
}

input[type='file']{
    padding: 0;
    border-radius: 0;
}

.form-field {
    display: flex;
}