.form-field {
    display: flex;
    margin-bottom: 15px;
}

.form-field label {
    width: 150px;
}

.form-field input {
    display: flex;
    flex: 1;
}

p {
    font-weight: bold;
}

input[type='file']{
    margin-bottom: 0;
    padding: 0;
    border-radius: 0;
}