main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    text-align: center;
    gap: 10px;
}

.picture img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin-bottom: 10px;
    margin-right: 20px;

}

p {
    font-weight: bold;
}

.picture {
    width: 100%;
    align-items: center;
}

input[type='file']{
    margin-bottom: 0;
    padding: 0;
    border-radius: 0;
}