{% load static %}
{%  load current_year %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            My Home
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
>

    {% block extra_css %}
    {% endblock %}

</head>
<body>
<header>
    <nav>
        <div class="left">
            <a href="{% url 'index' %}"><img alt="logo" class="logo" src="{%  static 'images/house.png' %}"></a>
            <a href="{% url 'index' %}">My home</a>
        </div>


        <div class="right">
            <a href="{% url 'properties-list' %}">Имоти</a>
            <a href="{% url 'cities-list' %}">Градове</a>
            <a href="{% url 'features-list' %}">Характеристики</a>
            <a href="{% url 'brokers-list' %}">Брокери</a>
        </div>
    </nav>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    <p> &copy; My home {% current_year %}</p>
</footer>

</body>
</html>